%import x

%include("_top")

<main class="w-full h-full d-flex a-items-center p-content-center text-c-white">

    <form id="signup" class="d-flex flex-col w-100% px-4" sm="w-80%" md="w-50%" lg="w-40%" autocomplete="off">


        <div class="">
            <label for="user_name" class="d-flex">
                <span>Name</span>
                <span class="ml-auto text-c-gray:+25">
                    {{ x.USER_NAME_MIN }} to {{ x.USER_NAME_MAX }} characters
                </span>
            </label>
            <input type="text" id="user_name" name="user_name"
                class="h-12 border-1 border-c-gray:+30 w-full outline-none pl-2 rounded-sm"
                mix-check="{{ x.USER_NAME_REGEX }}">
        </div>


        <div class="mt-2">
            <label for="user_last_name" class="d-flex">
                <span>Last name</span>
                <span class="ml-auto text-c-gray:+25">
                    {{ x.USER_LAST_NAME_MIN }} to {{ x.USER_LAST_NAME_MAX }} characters
                </span>
            </label>
            <input type="text" id="user_last_name" name="user_last_name"
                class="h-12 border-1 border-c-gray:+30 w-full outline-none pl-2 rounded-sm"
                mix-check="{{ x.USER_LAST_NAME_REGEX }}">
        </div>


        <div class="mt-2">
            <label for="user_username" class="d-flex">
                <span>Username</span>
                <span class="ml-auto text-c-gray:+25">
                    {{ x.USER_USERNAME_MIN }} to {{ x.USER_USERNAME_MAX }} characters
                </span>
            </label>
            <input type="text" id="user_username" name="user_username"
                class="h-12 border-1 border-c-gray:+30 w-full outline-none pl-2 rounded-sm"
                mix-check="{{ x.USER_USERNAME_REGEX }}">
        </div>        


        <div class="mt-2">
            <label for="user_email" class="">
                Email
            </label>
            <input type="text" id="user_email" name="user_email"
                class="h-12 border-1 border-c-gray:+30 w-full outline-none pl-2 rounded-sm"
                mix-check="{{ x.EMAIL_REGEX }}">
        </div>


        <div class="mt-2">
            <label for="user_password" class="d-flex">
                <span>Password</span>
                <span class="ml-auto text-c-gray:+25">
                    {{ x.USER_PASSWORD_MIN }} to {{ x.USER_PASSWORD_MAX }} characters
                </span>
            </label>
            <input type="password" id="user_password" name="user_password"
                class="h-12 border-1 border-c-gray:+30 w-full outline-none pl-2 rounded-sm"
                mix-check="{{ x.USER_PASSWORD_REGEX }}">
        </div>



        <button class="mt-8 h-12 bg-c-tealblue text-c-white rounded-sm" mix-post="/signup" mix-data="#signup"
            mix-default="Sigup" mix-await="Please wait...">
            Signup
        </button>
    </form>

</main>

%include("_bottom")